.App {
  text-align: center;
}

.rows {
  display: flex;
  border: solid gray;
  background-color: yellow;
}

.roomList {
  background-color: aquamarine;
  border: solid navy;
  border-radius: 5px;
  width: 30%;
  margin: 0.7em;
}

.messageList {
  background-color: orange;
  border: solid gray;
  border-radius: 5px;
  width: 70%;
  margin: 0.7em;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
